# Backend (Python)
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Frontend (Node/React)
node_modules/
dist/
build/
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ignore Claude folder
.claude/

# ignore all Word documents
*.docx

# ignore text files (OPTIONAL)
*.txt